@import 'variable.scss';

body {
  width: 100%;
  height: 100vh;
  background: $black;
  font-family: $montserrat;

  .container {
    width: 1440px;
    height: auto;
    padding: 0 30px 30px 30px;
    display: flex;
    justify-content: space-between;
    margin: auto;

    .crypto {
      width: auto;
      height: auto;
      padding: 30px;
      text-align: start;
      background: rgb(28, 28, 28);
      border-radius: 0 0 20px 20px;
      display: flex;
      flex-direction: column;
      align-items: center;

      .crypto-logo {
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
          width: 72px;
          height: 72px;
        }

        .crypto-name {
          display: flex;
          align-items: center;
          flex-direction: column;
          margin: 0 0 60px 0;

          h2 {
            color: beige;
            font-size: 25px;
            font-weight: 200;
          }

          p {
            font-size: 10px;
            color: #fff;
            font-weight: 700;
          }
        }
      }

      .crypto-price {
        display: flex;
        align-items: center;
        flex-direction: column;

        p {
          font-size: 19px;
          font-weight: 500;
          margin: 0 0 5px 0;
          color: #fff;
          font-weight: 300;
        }

        h4 {
          font-size: 15px;
          font-weight: 400;
        }
      }
    }

    .up {
      background: linear-gradient(180deg, #282828, #15ff0012);

      .crypto-price {
        h4 {
          color: rgb(87, 255, 87);
        }
      }
    }

    .down {
      background: linear-gradient(180deg, #282828, #ff000014);

      .crypto-price {
        h4 {
          color: rgb(255, 0, 0);
        }
      }
    }
  }
}

@media(max-width:1440px) {
  body {
    .container {
      width: 1340px;
    }
  }
}

@media(max-width:1340px) {
  body {
    .container {
      width: 1240px;
    }
  }
}

@media(max-width:1240px) {
  body {
    .container {
      width: 1140px;
    }
  }
}

@media(max-width:1140px) {
  body {
    .container {
      width: 1040px;
    }
  }
}

@media(max-width:1040px) {
  body {
    .container {
      width: 940px;
      padding: 30px 0px 30px 0;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;

      .crypto {
        width: 55%;
        height: auto;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        border-radius: 0px 20px 20px 0;
        margin: 0 0 20px 0;
        padding: 15px;

        .crypto-logo {
          margin: 0 5px 0 0;
          flex-direction: row;
          margin: 0 30px 0 0;

          img {
            margin: 0 9px 0 0;
          }

          .crypto-name {
            margin: 0;
            flex-direction: row;

            p {
              font-weight: 100;
              font-size: 9px;
            }
          }
        }

        .crypto-price {
          flex-direction: row;

          p {
            margin: 0 10px 0 0;
          }
        }
      }

      .up {
        background: linear-gradient(80deg, #282828, #15ff0012 );
      }

      .down {
        background: linear-gradient(80deg, #282828, #ff000014);
      }
    }
  }
}

@media(max-width:940px) {
  body {
    .container {
      width: 840px;
    }
  }
}

@media(max-width:840px) {
  body {
    .container {
      width: 740px;

      .crypto {
        width: 80%;
      }
    }
  }
}

@media(max-width:740px) {
  body {
    .container {
      width: 640px;

      .crypto {
        width: 100%;
      }
    }
  }
}

@media(max-width:640px) {
  body {
    .container {
      width: 540px;
    }
  }
}

@media(max-width:540px) {
  body {
    .container {
      width: 440px;

      .crypto {
        .crypto-logo {
          img {
            width: 45px;
            height: 45px;
          }

          .crypto-name {
            h2 {
              font-size: 20px;
            }
          }
        }

        .crypto-price {
          p { 
            font-size: 17px;
          }
        }
      }
    }
  }
}
